<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kairat.androidwatch" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="21" >
    </uses-sdk>

    <permission
        android:name="com.example.kairat.androidwatch.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.example.kairat.androidwatch.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Add internet permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Add location permissions -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" /> <!--Watch permission-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- DO NOT REMOVE meta-data -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResultActivity"
            android:label="@string/title_activity_result" >
        </activity>

        <!-- Kairat Added, DO NOT REMOVE -->
        <service android:name=".ListenerService" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
        <service
            android:name=".GetResultService"
            android:exported="false" >
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Nav"
            android:label="@string/title_activity_nav" >
        </activity>


        <activity
            android:name=".GPSService"
            android:label="@string/title_activity_gpsservice" >
        </activity>
    </application>

</manifest>
